workflows/Saman Processos de Vendas | Kommo x Pipefy (GE017/01-GE017/02).json
{
  "active": true,
  "connections": {
    "Procura Leads": {
      "main": [
        [
          {
            "node": "Variante IDs Procura Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procura Empresa": {
      "main": [
        [
          {
            "node": "Variante Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Formato CNPJ": {
      "main": [
        [
          {
            "node": "CNPJ com Mascara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procura Contatos": {
      "main": [
        [
          {
            "node": "Variante Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time - Reunião de Vendas": {
      "main": [
        [
          {
            "node": "Date & Time - Data Envio Matriz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time - Data Envio Matriz": {
      "main": [
        [
          {
            "node": "Date & Time - Data Compra Presença",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time - Data Compra Presença": {
      "main": [
        [
          {
            "node": "Data assinatura contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variante IDs Procura Lead": {
      "main": [
        [
          {
            "node": "retirando caracteres do campo detalhes negociação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variante Empresa": {
      "main": [
        [
          {
            "node": "Code - Formato CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNPJ com Mascara": {
      "main": [
        [
          {
            "node": "Procura Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variante Contatos": {
      "main": [
        [
          {
            "node": "Procura Usuário Responsável",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procura Usuário Responsável": {
      "main": [
        [
          {
            "node": "Date & Time - Reunião de Vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setando Produtos": {
      "main": [
        [
          {
            "node": "Setando Nome nos Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setando Nome nos Produtos": {
      "main": [
        [
          {
            "node": "Procura Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retirando caracteres do campo detalhes negociação": {
      "main": [
        [
          {
            "node": "Setando Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificando se há erros": {
      "main": [
        [
          {
            "node": "Envio de e-mail de erro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data assinatura contrato": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tipo de venda": {
      "main": [
        [
          {
            "node": "GraphQL - GE017/01",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GraphQL - GE017/02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL - GE017/01": {
      "main": [
        [
          {
            "node": "verificando se há erros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL - GE017/02": {
      "main": [
        [
          {
            "node": "verificando se há erros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "card movido": {
      "main": [
        [
          {
            "node": "Id card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Id card": {
      "main": [
        [
          {
            "node": "Procura Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "tipo de venda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "card criado": {
      "main": [
        [
          {
            "node": "Id card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-16T12:50:57.453Z",
  "id": "538zeBPMpGbST4bD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Saman Processos de Vendas | Kommo x Pipefy (GE017/01-GE017/02)",
  "nodes": [
    {
      "parameters": {
        "url": "=https://v4samanco.kommo.com/api/v4/leads/{{ $json.idcard }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "catalog_elements"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "11f905e6-109d-47ef-94d7-0a04af467d3a",
      "name": "Procura Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -680,
        -140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "oAuth2Api": {
          "id": "6wFHOeEn1BCjYdme",
          "name": "Kommo V4 Saman"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://v4samanco.kommo.com/api/v4/companies/{{ $('Procura Leads').item.json._embedded.companies[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "contacts"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fa34e3de-473b-40c1-9bda-acdce136f47a",
      "name": "Procura Empresa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -200,
        -280
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "6wFHOeEn1BCjYdme",
          "name": "Kommo V4 Saman"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://v4samanco.kommo.com/api/v4/users/{{ $('Procura Leads').item.json.responsible_user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9942edd8-8b7c-43be-b3cf-e86122011f7e",
      "name": "Procura Usuário Responsável",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -780,
        120
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "6wFHOeEn1BCjYdme",
          "name": "Kommo V4 Saman"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Dados de entrada vindos do nó anterior\nconst inputJSON = items[0].json;\n\n// Função para formatar o CNPJ com máscara\nfunction formatCnpjWithMask(cnpj) {\n    const cnpjFormatted = cnpj.replace(\n        /^(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})$/,\n        \"$1.$2.$3/$4-$5\"\n    );\n    return cnpjFormatted;\n}\n\n// Verifica se o ID \"1095768\" existe no JSON de entrada\nif (inputJSON.hasOwnProperty(\"1095768\") && inputJSON[\"1095768\"].hasOwnProperty(\"value\")) {\n    const cnpjValue = inputJSON[\"1095768\"].value;\n    const formattedCnpj = formatCnpjWithMask(cnpjValue);\n    \n    // Atualiza o valor formatado no JSON de entrada\n    inputJSON[\"1095768\"].value = formattedCnpj;\n}\n\n// Retorna o JSON modificado\nreturn [ { json: inputJSON } ];\n"
      },
      "id": "ac6fc706-92b9-4a14-aa8a-2e991e660e27",
      "name": "Code - Formato CNPJ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -280
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://v4samanco.kommo.com/api/v4/contacts/{{ $('Procura Empresa').item.json._embedded.contacts[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7bf136de-80fd-439a-aba3-6ccdc42de39b",
      "name": "Procura Contatos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        160,
        -280
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "6wFHOeEn1BCjYdme",
          "name": "Kommo V4 Saman"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1089964\"].value }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "90631b80-b7fa-4402-8cc5-850857f45e40",
      "name": "Date & Time - Reunião de Vendas",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -780,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096312\"].value }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "35424fc5-ca43-475d-9f08-f41eee0d74fa",
      "name": "Date & Time - Data Envio Matriz",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -580,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096314\"].value }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "dfa6d4d6-a728-4e36-88d3-ecd54095fdf9",
      "name": "Date & Time - Data Compra Presença",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -580,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const customFields = $json[\"custom_fields_values\"] || [];\nconst desiredFieldIds = [1094588, 1096440, 1096502, 1096442, 1091326, 1091328, 1091330, 1091334, 1095436, 1095438, 785564, 1095440, 1095028, 1089964, 785048, 785046, 1096116, 785044, 1095452, 1095454, 1095050, 1095456, 1095054, 1095058, 1096312, 1096126, 1096128, 1096130, 1096132, 1096138, 1096314, 1098635, 1098637, 785666];\n\nconst fieldValues = {};\n\nfor (const desiredFieldId of desiredFieldIds) {\n    const foundField = customFields.find(field => field.field_id === desiredFieldId);\n    if (foundField) {\n        fieldValues[desiredFieldId] = {\n            field_name: foundField.field_name,\n            value: foundField.values[0].value\n        };\n    }\n}\n\nreturn [{ fieldValues }];\n"
      },
      "id": "8f3ae72f-9220-4327-81a7-9446ec5f59e4",
      "name": "Variante IDs Procura Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -280
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const customFields = $json[\"custom_fields_values\"] || [];\nconst desiredFieldIds = [485926, 485928, 1096077, 1096075, 485924\n/* adicione os outros IDs aqui */];\n\nconst fieldValues = {};\n\nfor (const desiredFieldId of desiredFieldIds) {\n    const foundField = customFields.find(field => field.field_id === desiredFieldId);\n    if (foundField) {\n        fieldValues[desiredFieldId] = {\n            field_name: foundField.field_name,\n            value: foundField.values[0].value\n        };\n    }\n}\n\nreturn [{ fieldValues }];\n"
      },
      "id": "3c10edef-9884-4bd0-94fc-7fbffef880ed",
      "name": "Variante Contatos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const customFields = $json[\"custom_fields_values\"] || [];\nconst desiredFieldIds = [485926, 485928, 485930, 485932, 1095766, 1095768, 1095770, 1095772, 1095774, 1095776, 1095778, 1095788, 1095798, 1095810, 1095812, 1096081, 1096083, 1096085, 1096087, 1096089, 1096095, 1096097, 1096454\n\n/* adicione os outros IDs aqui */];\n\nconst fieldValues = {};\n\nfor (const desiredFieldId of desiredFieldIds) {\n    const foundField = customFields.find(field => field.field_id === desiredFieldId);\n    if (foundField) {\n        fieldValues[desiredFieldId] = {\n            field_name: foundField.field_name,\n            value: foundField.values[0].value\n        };\n    }\n}\n\nreturn [{ fieldValues }];\n"
      },
      "id": "9fd3aab4-881b-458f-b8d9-4bbd3b4bc83c",
      "name": "Variante Empresa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "fieldValues",
              "value": "={{ $json.fieldValues[\"1095768\"] }}"
            }
          ],
          "string": [
            {
              "name": "CNPJ",
              "value": "={{ $json.fieldValues[\"1095768\"].value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48dacdcd-3255-427d-868d-a29c66b18654",
      "name": "CNPJ com Mascara",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        20,
        -80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "catalog_elements",
              "value": "={{ $('Procura Leads').item.json._embedded.catalog_elements }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7789521b-450e-4349-b8b8-4ab2aa7c4360",
      "name": "Setando Produtos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -380,
        -280
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ID para nome mapeado\nconst idToName = {\n  3250: \"1 Canal avulso\",\n  3248: \"Assessoria Solidy Pro\",\n  3246: \"Assessoria Setupo\",\n  1888: \"Presença Digital\",\n  1886: \"Outros Serviços\",\n  1874: \"Desenvolvimento de WebSite\",\n  1872: \"Assessoria Key Account\",\n  1868: \"Assessoria V4X\",\n  1866: \"Assessoria Scaleup\",\n  1864: \"Consultoria de Vendas\",\n  1798: \"Social Media (48 posts)\",\n  1796: \"Social Media (32 posts)\",\n  1794: \"Social Media (24 posts)\",\n  1792: \"Estruturação Estratégica\",\n  1790: \"Social Media (16 posts)\",\n  1788: \"Social Media (12 posts)\",\n  3252: \"2 Canal Avulso\"\n};\n\n// Função para adicionar nomes aos elementos com IDs correspondentes\nfunction adicionarNomes(catalogElements) {\n  for (const element of catalogElements) {\n    const elementId = element.id;\n    if (idToName.hasOwnProperty(elementId)) {\n      element.nome = idToName[elementId];\n    }\n  }\n  return catalogElements;\n}\n\n// Processa cada item de entrada\nfor (const item of items) {\n  const catalogElements = item.json.catalog_elements || [];\n  item.json.catalog_elements = adicionarNomes(catalogElements);\n}\n\n// Saída dos itens processados\nreturn items;\n"
      },
      "id": "4ccde800-423f-494d-8a7e-0e488b8352ae",
      "name": "Setando Nome nos Produtos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        -80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Função para remover caracteres não alfabéticos do campo \"value\"\nfunction removeNonAlphabeticCharacters(value) {\n  // Remover caracteres não alfabéticos, mantendo espaços e caracteres especiais (incluindo acentos)\n  return value.replace(/[^a-zA-ZÀ-ÖØ-öø-ÿ ]/g, \"\");\n}\n\n\n// Iterar sobre os itens de entrada\nfor (const item of items) {\n  // Verificar se o campo \"1096116\" está presente nos fieldValues do item\n  if (\"1096116\" in item.json.fieldValues) {\n    const fieldValue = item.json.fieldValues[\"1096116\"];\n    // Aplicar a função apenas se o campo \"1096116\" tiver um valor\n    if (fieldValue && fieldValue.value) {\n      fieldValue.value = removeNonAlphabeticCharacters(fieldValue.value);\n    }\n  }\n}\n\nreturn items;\n"
      },
      "id": "10f84214-0e90-45a8-8ad2-bb706282c82e",
      "name": "retirando caracteres do campo detalhes negociação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "0a3d4b0f-6c70-476d-9095-54cafe726750",
      "name": "verificando se há erros",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {},
      "id": "324b3e3b-ac59-461a-a246-e4b9fd7ae914",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        320
      ]
    },
    {
      "parameters": {
        "fromEmail": "giovani.maia@v4company.com",
        "toEmail": "giovani.maia@v4company.com",
        "subject": "ERRO Integração N8N Kommo-Pipefy Saman",
        "text": "=Olá Giovani Maia, passando para avisar que ocorreu um erro na integração com o lead {{ $('Procura Leads').item.json.name }}.",
        "options": {}
      },
      "id": "ca115b9f-c28e-4146-9689-f8126da32e5d",
      "name": "Envio de e-mail de erro",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        420,
        120
      ],
      "credentials": {
        "smtp": {
          "id": "Hz14ASeSPZH0SsQ5",
          "name": "SMTP account giovani.maia"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1098637\"].value }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "outputFieldName": "dataassinaturacontrato",
        "options": {}
      },
      "id": "5a41fcad-79f3-490d-890b-1a81783043a8",
      "name": "Data assinatura contrato",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -380,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096442\"].value }}",
              "operation": "notEqual",
              "value2": "=Farmer (Aditivo)"
            }
          ]
        }
      },
      "id": "0045dcc1-8c9d-4135-ab79-78b3e5dbe175",
      "name": "tipo de venda",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        260
      ]
    },
    {
      "parameters": {
        "endpoint": "https://api.pipefy.com/graphql",
        "requestFormat": "json",
        "query": "=mutation {\n  createCard(input: {\n    pipe_id: 303101650,\n    title: \"{{ $('Procura Leads').item.json.name }}\",\n    fields_attributes:[\n      {field_id: \"raz_o_social_1\", field_value: \"{{ $('Procura Empresa').item.json.name }}\"},\n      {field_id: \"nome_do_projeto\", field_value: \"{{ $('Variante Empresa').item.json.fieldValues[\"1095766\"].value }}\"},\n      {field_id: \"cnpj_da_empresa\", field_value: \"{{ $('CNPJ com Mascara').item.json.fieldValues.value }}\"},\n      {field_id: \"endere_o_da_empresa\", field_value: \"{{ $('Variante Empresa').item.json.fieldValues[\"485932\"].value }}\"},\n      {field_id: \"bdr_respons_vel\", field_value: \"{{ $('Procura Usuário Responsável').item.json.name }}\"},\n      {field_id: \"copy_of_bdr_respons_vel\", field_value: \"{{ $('Procura Usuário Responsável').item.json.name }}\"},\n      {field_id: \"formul_rio_b_a_n_t\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1091326\"].field_name }} {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1091326\"].value }} {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1091328\"].field_name }} {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1091328\"].value }} {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1091330\"].field_name }} {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1091330\"].value }} {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1091334\"].field_name }} {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1091334\"].value }}\"},\n      {field_id: \"texto_curto\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095440\"].value }} {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096442\"].value }}\"}\n      {field_id: \"qual_investidor_indicou_condicional_indica_o_investidor_texto\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096502\"].value }}\"},\n      {field_id: \"valor_da_venda_contrato_1\", field_value: \"{{ $('Procura Leads').item.json.price }}\"},\n      {field_id: \"vig_ncia_do_contratoo\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"785044\"].value }}\"},\n      {field_id: \"qual_outra_vig_ncia_do_contrato\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095452\"].value }}\"},\n      {field_id: \"data_de_vencimento\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095454\"].value }}\"},\n      {field_id: \"pa\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095050\"].value }}\"},\n      {field_id: \"quantidade_de_presta_es_nova_integra_o\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095456\"].value }}\"},\n      {field_id: \"meio_de_pagamento\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095054\"].value }}\"},\n      {field_id: \"canal_de_pagamento_origem\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095058\"].value }}\"},\n      {field_id: \"stakeholder_do_contrato\", field_value: \"{{ $('Procura Contatos').item.json.name }}\"},\n      {field_id: \"telefone_de_contato_nova_integra_o\", field_value: \"{{ $('Variante Contatos').item.json.fieldValues[\"485926\"].value }}\"},\n      {field_id: \"e_mail_de_contato_nova_integra_o\", field_value: \"{{ $('Variante Contatos').item.json.fieldValues[\"485928\"].value }}\"},\n      {field_id: \"respons_vel_financeiro\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096126\"].value }}\"},\n      {field_id: \"telefone_do_stakeholder_financeiroo\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096128\"].value }}\"},\n      {field_id: \"copy_of_telefone_do_stakeholder_financeiro_nova_integra_o\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096130\"].value }}\"},\n      {field_id: \"link_da_reuni_o_de_vendas_1\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"785048\"].value }}\"},\n      {field_id: \"link_da_proposta_de_vendas\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"785046\"].value }}\"},\n      {field_id: \"detalhes_da_negocia_o\", field_value: \"{{ $json.detalhesNegocia }}\"},\n      {field_id: \"outras_informa_es_de_vendas\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096138\"].value }}\"},\n      {field_id: \"mercado_do_cliente_seguimento\", field_value: \"{{ $('Variante Empresa').item.json.fieldValues[\"1095810\"].value }}\"},\n      {field_id: \"modelo_de_neg_cio_1\", field_value: \"{{ $('Variante Empresa').item.json.fieldValues[\"1095788\"].value }}\"},\n      {field_id: \"modelo_de_venda_cohort\", field_value: \"{{ $('Variante Empresa').item.json.fieldValues[\"1095798\"].value }}\"},\n      {field_id: \"produto_s\", field_value: \"{{ $('Setando Nome nos Produtos').item.json.catalog_elements[0].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[1].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[2].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[3].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[4].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[5].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[6].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[7].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[8].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[9].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[10].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[11].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[12].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[13].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[14].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[15].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[16].nome }}\"},\n      {field_id: \"data\", field_value: \"{{ $('Date & Time - Reunião de Vendas').item.json.formattedDate }}\"},\n      {field_id: \"data_de_compra_do_presen_a_digital\", field_value: \"{{ $json.formattedDate }}\"},\n      {field_id: \"id_cliente_kommo\", field_value: \"{{ $('Procura Leads').item.json.id }}\"},\n      {field_id: \"contrato_vendido_pela_fase_assessoria_1\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095436\"].value }}\"},\n      {field_id: \"contrato_em_nome_da_fase_assessoria\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095438\"].value }}\"},\n      {field_id: \"cliente_possui_estrutura_o_estrat_gica_da_v4_company\", field_value: \"{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"785564\"].value }}\"},\n      {field_id: \"linkein_da_empresa\", field_value: \"{{ $('Variante Empresa').item.json.fieldValues[\"1095778\"].value }}\"},\n      {field_id: \"copy_of_linkedin_da_empresa\", field_value: \"{{ $('Variante Empresa').item.json.fieldValues[\"1095774\"].value }}\"},\n      {field_id: \"copy_of_nome_do_contato_1\", field_value: \"{{ $('Variante Contatos').item.json.fieldValues[\"485924\"].value }}\"},\n      {field_id: \"copy_of_e_mail_do_stakeholder_financeiro_nova_integra_o\", field_value: \"{{ $('Procura Leads').item.json.custom_fields_values[30].values[0].value }}\"},\n      {field_id: \"anexo_contrato_teste\", field_value: \"https://drive-g.kommo.com/download/1c7af919-d902-550a-996a-5025e7959ecd/{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1098635\"].value.file_uuid }}/{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1098635\"].value.file_name }}\"},\n      {field_id: \"data_de_assinatura_do_contrato\", field_value: \"{{ $json.dataassinaturacontrato }}\"}\n      \n      \n    ]}\n  ) {\n    card {\n      title\n    }\n  }\n}                                                                                               ",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE2OTE2MTQ2MjUsImp0aSI6IjllZWFjMDcxLWY3YmUtNDdjOC1iODU5LTE3N2Y0NjcxMzZmMiIsInN1YiI6MzAyMjE1NDA1LCJ1c2VyIjp7ImlkIjozMDIyMTU0MDUsImVtYWlsIjoiZmFiaW8uanVuaW9yQHY0Y29tcGFueS5jb20iLCJhcHBsaWNhdGlvbiI6MzAwMjY2MzAwLCJzY29wZXMiOltdfSwiaW50ZXJmYWNlX3V1aWQiOm51bGx9.xrPjSHLFp4zGwKBF5BB3dwsFgrsRTqzgwllIkhoN6HgqlaFS-VRiPPs_Rzq36sCf3o5FGpFV2gtXziLsNn5whw"
            }
          ]
        }
      },
      "id": "51596825-9eb8-4dea-9c71-09e552bbbcf9",
      "name": "GraphQL - GE017/01",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        20,
        140
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "endpoint": "https://api.pipefy.com/graphql",
        "requestFormat": "json",
        "query": "=mutation {\n  createCard(input: {\n    pipe_id: 303228232,\n    title: \"[{{ $('Procura Empresa').item.json.name }}] - Farmer Aditivo\",\n    fields_attributes:[\n      {field_id: \"detalhes_do_farmer_aditivo\", field_value: \"\nUsuário responsável: {{ $('Procura Usuário Responsável').item.json.name }}\nTipo de Venda: {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096442\"].value }}\nNome da Empresa: {{ $('Procura Empresa').item.json.name }}\nNome Fantasia: {{ $('Variante Empresa').item.json.fieldValues[\"1095766\"].value }}\nCNPJ: {{ $('CNPJ com Mascara').item.json.CNPJ }}\nValor do Farmer Aditivo: R${{ $('Procura Leads').item.json.price }}\nMercado do Cliente: {{ $('Variante Empresa').item.json.fieldValues[\"1095810\"].value }}\nProdutos: {{ $('Setando Nome nos Produtos').item.json.catalog_elements[0].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[1].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[2].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[3].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[4].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[5].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[6].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[7].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[8].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[9].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[10].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[11].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[12].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[13].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[14].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[15].nome }} {{ $('Setando Nome nos Produtos').item.json.catalog_elements[16].nome }}\nVendido pela Saman? {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095436\"].value }}\nContrato em nome da Saman? {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095438\"].value }}\nData: Reunião de Vendas: {{ $('Date & Time - Reunião de Vendas').item.json.formattedDate }}\nLink: Reunião de Vendas: {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"785048\"].value }}\nLink: Proposta de Vendas: {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"785046\"].value }} \nDetalhes Negociação (completo): {{ $('retirando caracteres do campo detalhes negociação').item.json.fieldValues[\"1096116\"].value }} \nProfissionais contratados? {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"785666\"].value }}\nVigência Contrato: {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"785044\"].value }}\nQual outra vigência? {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095452\"].value }}\nData de Vencimento:  {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095454\"].value }}\nForma de Pagamento: {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095050\"].value }}\nMeio de Pagamento: {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095054\"].value }}\nCanal de pagamento (Origem): {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1095058\"].value }}\nVenda: Data Envio Form Matriz para Contrato (Salesforce): {{ $('Date & Time - Data Envio Matriz').item.json.formattedDate }}\nOutras informações de vendas: {{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1096138\"].value }}\"},\n     {field_id: \"data_assinatura_do_famer_aditivo\", field_value: \"{{ $('Data assinatura contrato').item.json.dataassinaturacontrato }}\"},  \n     {field_id: \"anexo_do_farmer_aditivo\", field_value: \"https://drive-g.kommo.com/download/1c7af919-d902-550a-996a-5025e7959ecd/{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1098635\"].value.file_uuid }}/{{ $('Variante IDs Procura Lead').item.json.fieldValues[\"1098635\"].value.file_name }}\"} \n      \n    ]}\n  ) {\n    card {\n      title\n    }\n  }\n}                                                                                                                      ",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE2OTE2MTQ2MjUsImp0aSI6IjllZWFjMDcxLWY3YmUtNDdjOC1iODU5LTE3N2Y0NjcxMzZmMiIsInN1YiI6MzAyMjE1NDA1LCJ1c2VyIjp7ImlkIjozMDIyMTU0MDUsImVtYWlsIjoiZmFiaW8uanVuaW9yQHY0Y29tcGFueS5jb20iLCJhcHBsaWNhdGlvbiI6MzAwMjY2MzAwLCJzY29wZXMiOltdfSwiaW50ZXJmYWNlX3V1aWQiOm51bGx9.xrPjSHLFp4zGwKBF5BB3dwsFgrsRTqzgwllIkhoN6HgqlaFS-VRiPPs_Rzq36sCf3o5FGpFV2gtXziLsNn5whw"
            }
          ]
        }
      },
      "id": "21af75c8-79c7-4ba0-b651-5abbd26672f6",
      "name": "GraphQL - GE017/02",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        20,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "movido",
        "options": {}
      },
      "id": "ea4703ec-0164-42e4-bab1-36a608650fbe",
      "name": "card movido",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1000,
        -240
      ],
      "webhookId": "761bf66a-0f7a-4fbd-b382-04cd2d07c0a3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criado",
        "options": {}
      },
      "id": "98709bee-01e0-4e68-9e03-5426cbf4124b",
      "name": "card criado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1000,
        -80
      ],
      "webhookId": "761bf66a-0f7a-4fbd-b382-04cd2d07c0a3"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "idcard",
              "stringValue": "={{ $json.body[\"leads[status][0][id]\"] }}{{ $json.body['leads[add][0][id]'] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "ed2ac6d4-8a0c-4413-8abe-e2eb1009cc91",
      "name": "Id card",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -800,
        -140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14759d3f-d0f7-4b98-aee7-790abe504a75",
              "name": "detalhesNegocia",
              "value": "={{ $('retirando caracteres do campo detalhes negociação').item.json.fieldValues[\"1096116\"].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fc98f8ab-23cc-4900-a5f2-431869119277",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -360,
        340
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-03-27T17:31:13.000Z",
  "versionId": "725878a6-f546-4107-853e-0838fd471b58"
}